<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Deployment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>demo.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Deployment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/loginPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/logingarneThauMuji</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>parameterSnatcher</display-name>
    <servlet-name>parameterSnatcher</servlet-name>
    <servlet-class>demo.parameterSnatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>parameterSnatcher</servlet-name>
    <url-pattern>/parameterSnatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeanController</display-name>
    <servlet-name>BeanController</servlet-name>
    <servlet-class>demo.BeanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeanController</servlet-name>
    <url-pattern>/BeanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>demo.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connector</display-name>
    <servlet-name>Connector</servlet-name>
    <servlet-class>demo.Connector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connector</servlet-name>
    <url-pattern>/Connector</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/user</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Datasourcedemo</display-name>
    <servlet-name>Datasourcedemo</servlet-name>
    <servlet-class>demo.Datasourcedemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datasourcedemo</servlet-name>
    <url-pattern>/Datasourcedemo</url-pattern>
  </servlet-mapping>
</web-app>